.App {
  text-align: center;
}

.content-app{
  margin-top: 60px;
}

.navbar{
    display: flex;
    position: fixed;
    top: 0;
    height: 56px;
    width: 100%;
    background-color: tomato;
    margin: 0;
    flex-direction: row;
    align-items: center;
}

.navbar li{
    list-style-type: none;
    padding: 0 20px;
}

.navbar li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.navbar .userName{
  color: white;
  font-size: 14px;
  font-style: italic;
}

.navbar li a:hover{
    color: blue;
}
